/*Paleta de colores*/
:root{
    --poppy: #DF2935;
    --anti-flash-white: #EFF1F3;
    --onyx: #303633;
    --salmon-pink: #ED969C;
    --french-gray: #BDC5D9;
}

/*Variables añadidas para controlar colores del MAIN en accesibilidad*/
:root{
    --main-background: var(--anti-flash-white);
    --main-text: var(--onyx);
}

/*Fuentes*/
@font-face {
    font-family: Alexandria;
    src: url("../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto;
    scroll-behavior: smooth;
}

/* Los títulos irán en Alexandria */
h3, h4{
    font-family: Alexandria;
}

body{
    height: 100vh;
}

/* Estilo común de header y footer */
header, footer{
    background-color: var(--french-gray);
    color: var(--anti-flash-white);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
}

/* El header debe permanecer siempre en pantalla */
header{
    position: sticky;
    top: 0;
    z-index: 3;
}

/* Ocultamos el nav para Mobile y Tablet */
header nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--onyx);
  color: var(--anti-flash-white);
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
}

#btn-menu, #btn-close{
    height: 20px;
}

#btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.arrowup{
    display: none;
}

.dropdown[data-variant="onyx"], .arrowup[data-variant="onyx"] {
  display: none;
}

.submenu{
    display: none;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0 0 4em;
}

.submenu-visible{
    display: flex;
}

#nav-header > ul {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 100%;
  margin-top: 2em;
}

#nav-header ul li a {
  color: var(--anti-flash-white);
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

#nav-header > ul > li > div{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.nav-visible {
  display: flex;
}

/* Clase que se añade al nav para que, cuando se despliegue, no exista scroll de fondo y aparezca el footer immediatamente debajo*/
.no-scroll {
  overflow: hidden;
}

#nav-header a:hover{
    text-decoration: underline;
}

header img, footer img{
    cursor: pointer;
}

header img[alt="logo-small"]{
    height: 60px;
    margin: 0 auto;
}

header img[alt="logo-long"], header img[alt="logo"]{
    display: none;
}

header img[alt="user"], header img[alt="shopping-cart"]{
    height: 30px;
}

header div, footer div{
    display: flex;
    gap: 1em;
}

.user{
    display: flex;
    gap: 0.3em;
    align-items: center;
}

/* El "Hello, username" debe estar oculto en Mobile*/
.user p{
    display: none;
    font-weight: bold;
    color: var(--onyx);
}

main{
    background-color: var(--main-background);
    color: var(--main-text);
    min-height: calc(100vh - 140px);
}

/* Ocultamos el buscador del header que solo queremos para Desktop */
header .buscador{
    display: none;
}

/* Buscador del main para Mobile y Tablet*/
main .buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
    margin-bottom: 1em;
}

.buscador input{
    border: 1px solid var(--onyx);
    border-radius: 5px;
    width: 70%;
    height: 30px;
    padding-left: 5px;
    color: var(--onyx);
    font-weight: 500;
}

.buscador input:focus{
    border: 3px solid var(--salmon-pink);
    box-shadow: 0 0 5px var(--salmon-pink);
    outline: none;
}

.buscador input::placeholder{
    color: var(--french-gray);
}

main .buscador img{
    height: 30px;
    cursor: pointer;
}

main img[alt="shopping-cart"]{
    height: 1.2em;
    width: 1.4em;
}

.product:focus{
    outline: 2px solid var(--salmon-pink);
    background-color: #fcc9ccd2;
}

img[alt="producto-3-2"], img[alt="producto-1-1"]{
    border-radius: 10px;
}

button{
    background-color: none;
}

footer{
    z-index: 5;
    gap: 0.5em;
}

footer p{
    color: var(--poppy);
    font-size: 10px;
}

footer > div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
}

footer img{
    height: 40px;
}

footer div img{
    height: 20px;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Animación lateral */
@keyframes slideAccess {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*ACCESIBILIDAD*/
html{
    font-size: 16px;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0;
    word-spacing: 0;
}

#accessibility-btn{
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 999;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--french-gray);
    color: var(--onyx);
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--onyx);
    transition: ease-in-out 0.3s;
}

#accessibility-btn:hover{
    transform: scale(1.1);
    background-color: var(--salmon-pink);
}

#accessibility-menu{
    position: fixed;
    background-color: var(--onyx);
    border: 2px solid var(--poppy);
    border-radius: 4px;
    padding: 1em;
    display: none;
    z-index: 9999;
    color: var(--anti-flash-white);
    min-width: 250px;
    max-width: 350px;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    border-radius: 0;
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);
    animation: slideAccess 0.3s ease;
}

.accessibility-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.accessibility-container > div:first-of-type{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.accessibility-container > div img{
    cursor: pointer;
    width: 30px;
}

.accessibility-container section{
    width: 100%;
    color: var(--onyx);
}

.accessibility-container section button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--anti-flash-white);
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: ease-in-out 0.3s;
    border: none;
}

.accessibility-container section button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2);
}

.accessibility-container section button img{
    width: 2.5em;
}

.contrast-settings{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 1em;
}

.contrast-settings button{
    width: 100%;
}

.contrast-settings button:nth-child(-n+3) {
    grid-column: span 2;
}

.contrast-settings button:nth-last-child(-n+2) {
    grid-column: span 3;
}

.text-settings{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 1em;
}

.text-settings button:first-child,
.text-settings button:nth-child(2){
    grid-column: span 3;
}

.text-settings button:nth-child(3),
.text-settings button:nth-child(4),
.text-settings button:last-child{
    grid-column: span 2;
}

/* #fontSize-minus, #fontSize-plus{
    width: 100%;
} */

.reset{
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0.8em;
    border-radius: 10px;
    background-color: var(--salmon-pink);
    color: var(--onyx);
    font-weight: 500;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border: none;
}

.reset:hover{
    transform: scale(1.02);
    box-shadow: 0 0 5px 5px rgb(237, 150, 156, 0.2);
}

.status{
    color: var(--anti-flash-white);
    text-align: center;
}

/* #accessibility-menu button {
    background-color: var(--french-gray);
    color: var(--onyx);
    padding: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
} */

/*TAB*/
*:focus{
    outline: 3px solid var(--salmon-pink);
    outline-offset: 2px;
    border-radius: 4px;
}

/*Contrastes*/
html.contrast-gray{
    filter: grayscale(100%);
}

/*Dark mode*/
html.contrast-dark {
    --main-background: var(--onyx);
    --main-text: var(--anti-flash-white);
}

/*Light mode*/
html.contrast-light {
    --main-background: var(--anti-flash-white);
    --main-text: var(--onyx);
}

/* Saturación alta */
html.contrast-saturation-high {
  filter: saturate(200%);
}

/* Saturación baja */
html.contrast-saturation-low {
  filter: saturate(50%);
}


/*TABLET*/
@media (min-width: 577px){

    /* Intercambio de logos */
    header img[alt="logo-small"]{
        display: none;
    }

    header img[alt="logo-long"]{
        display: initial;
        height: 60px;
        margin: 0 auto;
    }

    /* Aparece el "Hello, username" */
    .user p{
        display: initial;
    }

    footer > div:first-of-type{
        flex-direction: row;
        gap: 1em;
    }
}

/*DESKTOP*/
@media(min-width: 1025px){

    /* Ajustamos tamaño del header para incluir el nav */
    header{
        height: 120px;
    }

    /* Intercambio de logos */
    header img[alt="logo-long"]{
        display: none;
    }

    header img[alt="logo"]{
        display: initial;
        height: 80px;
        margin-left: 1.5em;
    }

    #btn-menu, #btn-close{
        display: none;
    }

    /* Intercambio de dropdown y arrowup */
    .dropdown[data-variant="white"], .arrowup[data-variant="white"] {
        display: none;
    }
    
    .dropdown[data-variant="onyx"] {
        display: initial;
    }

    header nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1em;
        position: sticky;
        background-color: var(--french-gray);
        padding: 0;
        width: 100%;
    }

    #nav-header ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 5em;
        margin: 0;
    }

    #nav-header ul li a{
        color: var(--onyx);
    }

    main{
        margin-top: 120px;
    }

    main .buscador{
        display: none;
    }

    header .buscador{
        display: initial;
        width: 800px;
        margin-top: 10px;
    }

    .buscador input {
        height: 40px;
    }


    /* Hacemos que categories sea relativo para poder desplegar el submenú debajo */
    #nav-header ul li {
        position: relative;
    }

    /* Cómo aparece el submenú al hacer click en el icono de dropdown */
    #nav-header ul li .submenu {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: var(--anti-flash-white);
        border: 1px solid var(--poppy);
        border-radius: 10px;
        padding: 0.5em 1em;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
        z-index: 999;
        margin: 0;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        width: max-content;
        white-space: nowrap;
    }

    #nav-header ul li .submenu.submenu-visible {
        display: flex;
    }

    #nav-header ul li .submenu li a:hover {
        color: var(--poppy);
    }
}