@charset "UTF-8";
/* Variables para colores y fuentes */
@font-face {
  font-family: Alexandria;
  src: url("../../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}

/*ACCESIBILIDAD*/
html {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  word-spacing: 0;
  /*Dark mode*/
  /*Light mode*/
  /*Saturación*/
}

html.contrast-gray {
  filter: grayscale(100%);
}

html.contrast-dark {
  background-color: #303633;
  color: #EFF1F3;
  /*Si no hago nesting con el main aquí dentro, especificando de nuevo los colores, no se aplica*/
}

html.contrast-dark main {
  background-color: #303633;
  color: #EFF1F3;
}

html.contrast-light {
  background-color: #EFF1F3;
  color: #303633;
}

html.contrast-light main {
  background-color: #EFF1F3;
  color: #303633;
}

html.contrast-saturation-high {
  filter: saturate(200%);
}

html.contrast-saturation-low {
  filter: saturate(50%);
}

/*Outline común*/
*:focus {
  outline: 3px solid #ED969C;
  border-radius: 4px;
  outline-offset: 2px;
}

/*Botón para abrir el menú de accesibilidad*/
#accessibility-btn {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 999;
  padding: 1em;
  border-radius: 50%;
  background-color: var(#BDC5D9);
  color: var(#303633);
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px var(#303633);
  transition: ease-in-out 0.3s;
  background-color: #BDC5D9 !important;
  box-shadow: 2px 2px 8px #303633 !important;
  border-radius: 50%;
  padding: 1em;
}

#accessibility-btn:hover {
  transform: scale(1.1);
  background-color: var(#ED969C);
}

/*Menú de accesibilidad*/
#accessibility-menu {
  position: fixed;
  background-color: var(--onyx);
  border: 2px solid var(--poppy);
  border-radius: 4px;
  padding: 1em;
  display: none;
  z-index: 9999;
  color: var(--anti-flash-white);
  min-width: 250px;
  max-width: 350px;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  border-radius: 0;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
  animation: slideAccess 0.3s ease;
}

.accessibility-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.accessibility-container > div:first-of-type {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.accessibility-container > div img {
  cursor: pointer;
  width: 30px;
}

.accessibility-container section {
  width: 100%;
  color: var(#303633);
}

.accessibility-container section button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(#EFF1F3);
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: ease-in-out 0.3s;
  border: none;
}

.accessibility-container section button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2);
}

.accessibility-container section button img {
  width: 2.5em;
}

/*Opciones de contraste*/
.contrast-settings {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: 1em;
}

.contrast-settings button {
  width: 100%;
}

.contrast-settings button:nth-child(-n+3) {
  grid-column: span 2;
}

.contrast-settings button:nth-last-child(-n+2) {
  grid-column: span 3;
}

/*Opciones de texto*/
.text-settings {
  display: grid;
  width: 100%;
  gap: 1em;
  grid-template-columns: repeat(6, 1fr);
}

.text-settings button:first-child,
.text-settings button:nth-child(2) {
  grid-column: span 3;
}

.text-settings button:nth-child(3),
.text-settings button:nth-child(4),
.text-settings button:last-child {
  grid-column: span 2;
}

/* #fontSize-minus, #fontSize-plus{
  width: 100%;
} */
/*Resetear valores*/
.reset {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  background-color: #ED969C;
  color: #303633;
  font-weight: 500;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  border: none;
}

.reset:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px 5px rgba(237, 150, 156, 0.2);
}

.status {
  color: #EFF1F3;
  text-align: center;
}

/* button:focus, a:focus, input:focus, img:focus{
  outline: 3px solid var($salmon-pink);
  outline-offset: 2px;
  border-radius: 4px;
} */
/*Grayscale*/
html.contrast-gray {
  filter: grayscale(100%);
}

/*Mantenemos el color de este texto para que no cambie a blanco en dark mode*/
.subtotal p, .wishlist h2 {
  color: #303633 !important;
}

/*Animación lateral*/
@keyframes slideAccess {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
