@import './_variables.scss';
@import './_mixins.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Roboto;
}

h3, h4 {
  font-family: Alexandria;
}

body {
  height: 100vh;
}

header, footer {
  @include header-footer(100%, $french-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header img, footer img{
  cursor: pointer;
}

header div, footer div{
  display: flex;
  gap: 1em;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;

  .no-scroll {
    overflow: hidden;
  }

  .submenu-visible{
    display: flex;
  }

  #nav-header{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $onyx;
    color: $anti-flash-white;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em 3em;

    #btn-close{
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
    }

    .arrowup, .arrowdown{
      display: none;
    }

    &> ul {
      display: flex;
      flex-direction: column;
      row-gap: 2em;
      width: 100%;
      margin-top: 2em;
    }

    ul li a {
      color: var(--anti-flash-white);
      font-size: 1.2em;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      
      &:hover{
        text-decoration: underline;
      }
    }

    &> ul > li > div{
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .buscador{
      display: none;
    }
  }

  #btn-menu, #btn-close{
    height: 20px;
  }

  img[alt="logo-small"]{
    height: 60px;
    margin: 0 auto;
  }

  img[alt="logo-long"], img[alt="logo"]{
    display: none;
  }

  img[alt="user"], img[alt="shopping-cart"]{
    height: 30px;
  }

  .user {
    display: flex;
    gap: 0.3em;
    align-items: center;

    p{
      display: none;
      font-weight: bold;
      color: $onyx;
    }
  }
}

main{
  @include main(calc(100vh - 140px), $onyx, $anti-flash-white);

  .buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
    margin-bottom: 1em;

    img {
      height: 30px;
      cursor: pointer;
    }
  }
  
  img[alt="shopping-cart"]{
    height: 15px;
  }

  img[alt="producto-3-2"], img[alt="producto-1-1"]{
    border-radius: 10px;
  }
}

.buscador{
  input{
    border: 1px solid $onyx;
    border-radius: 5px;
    width: 70%;
    height: 30px;
    padding-left: 5px;
    color: $onyx;
    font-weight: 500;

    &:focus{
      border: 3px solid $salmon-pink;
      box-shadow: 0 0 5px $salmon-pink;
      outline: none;
    }

    &::placeholder{
      color: $french-gray;
    }
  }
}

#nav-header.nav-visible {
  display: flex;
}

.submenu{
  display: none;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0 0 4em;
}

button {
  background-color: none;
}

footer {
  z-index: 5;
  gap: 0.5em;

  p {
    color: $poppy;
    font-size: 10px;
  }

  > div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
  }

  img{
    height: 40px;
  }

  div img{
    height: 20px;
  }
}

.footer-fixed{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


/*TABLET*/
@media (min-width: 648px){

  header{
    img[alt="logo-small"]{
      display: none;
    }

    img[alt="logo-long"]{
      display: initial;
      height: 60px;
      margin: 0 auto;
    }

    .user p{
      display: initial;
    }
  }

  footer {
    &>div:first-of-type{
      flex-direction: row;
      gap: 1em;
    }
  }
}


/*DESKTOP*/
@media (min-width: 1024px){

  header {

    img[alt="logo-long"]{
      display: none;
    }

    img[alt="logo"]{
      display: initial;
      height: 80px;
      margin-left: 1.5em;
    }

    #btn-menu, #btn-close{
      display: none;
    }

    .dropdown[data-variant="white"], .arrowup[data-varian="white"]{
      display: none;
    }

    .dropdown[data-variant="onyx"]{
      display: initial;
    }

    #nav-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 1em;
      position: sticky;
      background-color: $french-gray;
      padding: 0;
      width: 100%;

      ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 5em;
        margin: 0;

        li{
          position: relative;

          a {
            color: $onyx;
          }

          .submenu{
            display: none;
            position: absolute;
            top: 30px;
            left: 0;
            background-color: $anti-flash-white;
            border: 1px solid $poppy;
            border-radius: 10px;
            padding: 0.5em 1em;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5em;
            z-index: 999;
            margin: 0;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            width: max-content;
            white-space: nowrap;

            li a:hover{
              color: $poppy;
            }
          }

          .submenu.submenu-visible{
            display: flex;
          }
        } 
      }
      
      .buscador {
        display: initial;
        width: 800px;
        margin-top: 10px;
  
        input{
          height: 40px;
        }
      }
    }

  }

  main .buscador {
    display: none;
  }

}