@mixin header-footer($width, $bg-color){
  width: $width;
  background-color: $bg-color;
  padding: 20px;
}

@mixin main($min-height, $color, $bg-color){
  min-height: calc(100vh - 140px);
  color: $color;
  background-color: $bg-color;
}

@mixin product-card($width, $border, $border-radius){
  width: $width;
  border: $border;
  border-radius: $border-radius;
  padding: 1em;
}