/* Variables para colores y fuentes */
$poppy: #DF2935;
$anti-flash-white: #EFF1F3;
$onyx: #303633;
$salmon-pink: #ED969C;
$french-gray: #BDC5D9;

@font-face {
  font-family: Alexandria;
  src: url("../../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}