@import './_variables.scss';
@import './_mixins.scss';

header{
  position: initial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid $french-gray;
    border-radius: 8px;

    .subtotal {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5em;
      width: 100%;
      background-color: $french-gray;
      padding: 1em;
      border-radius: 4px;

      p {
        font-size: 1.2em;
      }

      span{
        font-weight: bold;
        font-size: 1.2em;
      }

      input{
        width: 100%;
        background-color: $poppy;
        border: none;
        border-radius: 4px;
        padding: 0.5em;
        color: $anti-flash-white;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0.8em;

        &:hover{
          cursor: pointer;
          background-color: $salmon-pink;
        }
      }
    }

    .product-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      max-height: 500px;
      overflow-y: auto;
      padding: 1.5em;
      width: 100%;

      .product-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        @include product-card(100%, 1px solid $poppy, 10px);
  
        &>div:first-of-type{
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1em;

          @media(max-width:380px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
  
          img[alt="product"]{
            height: 120px;
            width: 120px;
            border-radius: 10px;
          }
  
          &>div{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 120px;
            justify-content: space-between;
            align-items: end;

            @media(max-width:380px){
              height: 100px;
            }
  
            h2{
              align-self: start;
            }
  
            &>div{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
  
              .price p{
                color: $poppy;
                text-decoration: line-through;
              }
  
              &>div:last-of-type{
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                align-items: center;
  
                img{
                  cursor: pointer;
  
                  &:hover{
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
        }
  
        .filters{
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 1em;

          &>div:first-of-type{
            label{
              display: flex;
              flex-wrap: wrap;
              align-items: center;
            }
          }

          &>div:last-of-type{
            display: flex;
            gap: 2em;

            @media(max-width:380px){
              flex-direction: column;
              gap: 1em;
            }
          }

          label[for="color"]{
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 0.5em;
          }

          select{
            width: 100px;
            padding: 0.2em;
            border: 2px solid $salmon-pink;
            border-radius: 4px;
            cursor: pointer;
          }
        }
  
      }
    }

  }

  .wishlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin-top: 2em;

    h2{
      width: 100%;
      text-align: center;
    }

    .wishlist-item{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 350px;
      border: 1px solid $poppy;
      border-radius: 10px;
      padding: 1em;

      img[alt="product-wishlist"]{
        height: 80px;
        border-radius: 5px;
      }

      &>div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: 80px;

        &>div{
          display: flex;
          align-items: center;
          gap: 2em;

          button{
            width: 100px;
            padding: 0.3em;
            border: 2px solid $poppy;
            border-radius: 4px;

            &:hover{
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  @media(min-width: 640px){
    flex-direction: row;
    gap: 1em;


    .wishlist{
      .wishlist-item{
        flex-wrap: nowrap;
        width: 240px;
        gap: 0.5em;

      img[alt="product-wishlist"]{
        height: 70px;
      }

        &>div > div{
          button{
            width: 40px;
            padding: 0.2em;
          }
        }
      }
    }
  }

  @media (min-width: 800px) {
    form{
      margin-left: 2em;
    }
  }

  @media (min-width: 1024px){
    padding: 0 8em 0 8em;
    margin-left: 0;
    gap: 2em;
    
    .wishlist{
      .wishlist-item{
        width: 350px;
        gap: 0.5em;

      img[alt="product-wishlist"]{
        height: 100px;
      }

        &>div{
          height: 100px;
          
          &>div{
          button{
              width: 100px;
              padding: 0.5em;
            }
          }
        }
      }
    }
  }
}