@import './_variables.scss';
@import './_mixins.scss';
@import './_accessibility.scss';

/*Normalmente el header es sticky en toda la web, pero en este caso, quiero que el subtotal gane protagonismo y se muestre por encima
de otros elementos. Si mantenía el header como sticky, se molestaban uno a otro.*/
header{
  position: initial;
}

//Nesting MAIN -- MOBILE
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid $french-gray;
    border-radius: 8px;

    .subtotal {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5em;
      width: 100%;
      background-color: $french-gray;
      padding: 1em;
      border-radius: 4px;

      p {
        font-size: 1.2em;
      }

      span{
        font-weight: bold;
        font-size: 1.2em;
      }

      input{
        width: 100%;
        background-color: $poppy;
        border: none;
        border-radius: 4px;
        padding: 0.5em;
        color: $anti-flash-white;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0.8em;

        &:hover{
          cursor: pointer;
          background-color: $salmon-pink;
        }
      }
    }

    //Contenedor donde se mostrarán todos los productos que contiene el carrito
    .product-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      max-height: 500px;
      overflow-y: auto;
      padding: 1.5em;
      width: 100%;

      //Productos del carrito, importando el mixin de la carta de producto
      .product-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        @include product-card(100%, 1px solid $poppy, 10px);
  
        &>div:first-of-type{
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1em;

          //Ajuste para pantallas de móvil más pequeñas
          @media(max-width:380px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
  
          img[alt="product"]{
            height: 120px;
            width: 120px;
            border-radius: 10px;
          }
  
          &>div{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 120px;
            justify-content: space-between;
            align-items: end;

            @media(max-width:380px){
              height: 100px;
            }
  
            h2{
              align-self: start;
            }
  
            &>div{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
  
              .price p{
                color: $poppy;
                text-decoration: line-through;
              }
  
              &>div:last-of-type{
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                align-items: center;
  
                img{
                  cursor: pointer;
  
                  &:hover{
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
        }
  
        //Filtros que podemos modificar en el carrito
        .filters{
          display: flex;
          flex-direction: column; 
          width: 100%;
          gap: 1em;

          //Colores
          &>div:first-of-type{
            label{
              font-weight: bold;
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              input{
                margin-left: 0.5em;
              }
            }
          }

          //Cantidad y Talla
          &>div:last-of-type{
            display: flex;
            gap: 2em;

            @media(max-width:380px){
              flex-direction: column;
              gap: 1em;
            }
          }

          //Diseño de los select para cantidad y talla
          select{
            width: 100px;
            padding: 0.2em;
            border: 2px solid $salmon-pink;
            border-radius: 4px;
            cursor: pointer;
          }
        }
  
      }
    }

  }

  //Lista de deseos
  .wishlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin-top: 2em;

    h2{
      width: 100%;
      text-align: center;
    }

    //Diseño de cada producto de la lista de deseos
    .wishlist-item{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 350px;
      border: 1px solid $poppy;
      border-radius: 10px;
      padding: 1em;

      img[alt="product-wishlist"]{
        height: 80px;
        border-radius: 5px;
      }

      &>div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: 80px;

        &>div{
          display: flex;
          align-items: center;
          gap: 2em;

          //Botón de añadir al carrito
          button{
            width: 100px;
            padding: 0.3em;
            border: 2px solid $poppy;
            border-radius: 4px;

            &:hover{
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  //TABLET
  @media(min-width: 640px){
    flex-direction: row;
    gap: 1em;

    /*A partir de aquí, la lista de deseos tiene una altura máxima, para que quede más acorde al contenedor del carrito y la página no crezca
    de manera poco simétrica en el eje vertical*/
    .wishlist{
      max-height: 500px;
      overflow-y: auto;

      //Mismo comportamiento que el subtotal del contendor del carrito
      h2{
        position: sticky;
        top: 0;
        z-index: 10;
        max-width: 100%;
        background-color: $french-gray;
        padding: 0.5em 0;
        border-radius: 5px;
      }
      .wishlist-item{
        flex-wrap: nowrap;
        width: 240px;
        gap: 0.5em;

      img[alt="product-wishlist"]{
        height: 70px;
      }

        &>div > div{
          button{
            width: 40px;
            padding: 0.2em;
          }
        }
      }
    }
  }

  //Pequeño ajuste para pantallas de Tablet más anchas y que el contenido respire un poco más
  @media (min-width: 800px) {
    form{
      margin-left: 2em;
    }
  }

  //DESKTOP
  /*Tratamos de aprovechar el espacio. Apenas hay modificaciones, por lo que en vez de agrandar en exceso los elementos, 
  dejaremos más espacios a su alrededor para que el contenido no se sienta tan cargado*/
  @media (min-width: 1024px){
    padding: 2em 8em 2em 8em;
    margin-left: 0;
    gap: 2em;
    
    .wishlist{
      .wishlist-item{
        width: 350px;
        gap: 0.5em;

      img[alt="product-wishlist"]{
        height: 100px;
      }

        &>div{
          height: 100px;
          
          &>div{
          button{
              width: 100px;
              padding: 0.5em;
            }
          }
        }
      }
    }
  }
}