@charset "UTF-8";
/* Variables para colores y fuentes */
@font-face {
  font-family: Alexandria;
  src: url("../../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}

/*Header y footer*/
/*Main*/
/*Cartas de producto en el shopping cart*/
/*Normalmente el header es sticky en toda la web, pero en este caso, quiero que el subtotal gane protagonismo y se muestre por encima
de otros elementos. Si mantenía el header como sticky, se molestaban uno a otro.*/
header {
  position: initial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  /*Tratamos de aprovechar el espacio. Apenas hay modificaciones, por lo que en vez de agrandar en exceso los elementos, 
  dejaremos más espacios a su alrededor para que el contenido no se sienta tan cargado*/
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid #BDC5D9;
  border-radius: 8px;
}

main form .subtotal {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
  width: 100%;
  background-color: #BDC5D9;
  padding: 1em;
  border-radius: 4px;
}

main form .subtotal p {
  font-size: 1.2em;
}

main form .subtotal span {
  font-weight: bold;
  font-size: 1.2em;
}

main form .subtotal input {
  width: 100%;
  background-color: #DF2935;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  color: #EFF1F3;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.8em;
}

main form .subtotal input:hover {
  cursor: pointer;
  background-color: #ED969C;
}

main form .product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-height: 500px;
  overflow-y: auto;
  padding: 1.5em;
  width: 100%;
}

main form .product-list .product-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  border: 1px solid #DF2935;
  border-radius: 10px;
  padding: 1em;
}

main form .product-list .product-cart > div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

@media (max-width: 380px) {
  main form .product-list .product-cart > div:first-of-type {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

main form .product-list .product-cart > div:first-of-type img[alt="product"] {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

main form .product-list .product-cart > div:first-of-type > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  align-items: end;
}

@media (max-width: 380px) {
  main form .product-list .product-cart > div:first-of-type > div {
    height: 100px;
  }
}

main form .product-list .product-cart > div:first-of-type > div h2 {
  align-self: start;
}

main form .product-list .product-cart > div:first-of-type > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main form .product-list .product-cart > div:first-of-type > div > div .price p {
  color: #DF2935;
  text-decoration: line-through;
}

main form .product-list .product-cart > div:first-of-type > div > div > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

main form .product-list .product-cart > div:first-of-type > div > div > div:last-of-type img {
  cursor: pointer;
}

main form .product-list .product-cart > div:first-of-type > div > div > div:last-of-type img:hover {
  transform: scale(1.1);
}

main form .product-list .product-cart .filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

main form .product-list .product-cart .filters > div:first-of-type label {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main form .product-list .product-cart .filters > div:first-of-type label input {
  margin-left: 0.5em;
}

main form .product-list .product-cart .filters > div:last-of-type {
  display: flex;
  gap: 2em;
}

@media (max-width: 380px) {
  main form .product-list .product-cart .filters > div:last-of-type {
    flex-direction: column;
    gap: 1em;
  }
}

main form .product-list .product-cart .filters select {
  width: 100px;
  padding: 0.2em;
  border: 2px solid #ED969C;
  border-radius: 4px;
  cursor: pointer;
}

main .wishlist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  margin-top: 2em;
}

main .wishlist h2 {
  width: 100%;
  text-align: center;
}

main .wishlist .wishlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  border: 1px solid #DF2935;
  border-radius: 10px;
  padding: 1em;
}

main .wishlist .wishlist-item img[alt="product-wishlist"] {
  height: 80px;
  border-radius: 5px;
}

main .wishlist .wishlist-item > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 80px;
}

main .wishlist .wishlist-item > div > div {
  display: flex;
  align-items: center;
  gap: 2em;
}

main .wishlist .wishlist-item > div > div button {
  width: 100px;
  padding: 0.3em;
  border: 2px solid #DF2935;
  border-radius: 4px;
}

main .wishlist .wishlist-item > div > div button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 640px) {
  main {
    flex-direction: row;
    gap: 1em;
    /*A partir de aquí, la lista de deseos tiene una altura máxima, para que quede más acorde al contenedor del carrito y la página no crezca
    de manera poco simétrica en el eje vertical*/
  }
  main .wishlist {
    max-height: 500px;
    overflow-y: auto;
  }
  main .wishlist h2 {
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: 100%;
    background-color: #BDC5D9;
    padding: 0.5em 0;
    border-radius: 5px;
  }
  main .wishlist .wishlist-item {
    flex-wrap: nowrap;
    width: 240px;
    gap: 0.5em;
  }
  main .wishlist .wishlist-item img[alt="product-wishlist"] {
    height: 70px;
  }
  main .wishlist .wishlist-item > div > div button {
    width: 40px;
    padding: 0.2em;
  }
}

@media (min-width: 800px) {
  main form {
    margin-left: 2em;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 2em 8em 2em 8em;
    margin-left: 0;
    gap: 2em;
  }
  main .wishlist .wishlist-item {
    width: 350px;
    gap: 0.5em;
  }
  main .wishlist .wishlist-item img[alt="product-wishlist"] {
    height: 100px;
  }
  main .wishlist .wishlist-item > div {
    height: 100px;
  }
  main .wishlist .wishlist-item > div > div button {
    width: 100px;
    padding: 0.5em;
  }
}
