:root {
  --salmon_pink: #ED969C;
  --poppy: #DF2935;
  --anti_flash_white: #EFF1F3;
  --onyx: #303633;
  --french_gray: #BDC5D9;
}

@font-face{
  font-family: Alexandria;
  src: url('fonts/Alexandria/static/Alexandria-Bold.ttf');
}

*{
  font-family: Alexandria;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 5px;
  margin-bottom: 10px;
  background-color: var(--onyx);
  padding: 20px;
}

form h2, form p{
  color: var(--anti_flash_white);
}

form input{
  height: 30px;
  border-radius: 10px ;
  border: 3px solid var(--salmon_pink);
  padding-left: 10px;
  color: var(--onyx);
}

form label, #confirm{
  width: 100%;
  margin: 5px;
}

input{
  width: 95%;
}

form input:focus{
  outline: none;
  border: 3px solid var(--french_gray);
  box-shadow: 0 0 5px var(--french_gray);
}

#confirm{
  color: var(--anti_flash_white);
  background-color: var(--poppy);
  height: 40px;
  margin-top: 10px;
}