@import "tailwindcss";

/*Paleta de colores*/
@theme{
    --color-poppy: #DF2935;
    --color-anti-flash-white: #EFF1F3;
    --color-onyx: #303633;
    --color-salmon-pink: #ED969C;
    --color-french-gray: #BDC5D9;
}

/*Fuentes*/
@font-face {
    font-family: Alexandria;
    src: url("../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}