@import "tailwindcss";

/*Paleta de colores*/
@theme{
    --color-poppy: #DF2935;
    --color-anti-flash-white: #EFF1F3;
    --color-onyx: #303633;
    --color-salmon-pink: #ED969C;
    --color-french-gray: #BDC5D9;
}

/*Fuentes*/
@font-face {
    font-family: Alexandria;
    src: url("../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@layer components{
  .header-footer{
    @apply w-full bg-french-gray flex items-center justify-between py-10px px-15px relative;
  }

  .nav-mobile-tablet{
    @apply hidden fixed top-0 left-0 right-0 bottom-0 bg-onyx text-anti-flash-white z-1 
      flex-col justify-start items-start p-1;
  }

  .arrowup{
    @apply hidden;
  }

  .dropdown{
    @apply hidden;
  }

  .submenu{
    @apply hidden flex-col gap-1 mt-1 mx-0 mb-4;
  }

  .submenu-visible{
    @apply flex;
  }

  .nav-header-a {
    @apply text-anti-flash-white text-[1.2em] 
  }
}