<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/sass/commons.css">
  <link rel="stylesheet" href="../css/sass/cart.css">
  <link rel="stylesheet" href="../css/scrollbar.css">
  <title>Shift & Go</title>
</head>
<body>
  <header>
    <img id="btn-menu" src="../assets/icons/menu_burger.png" alt="menu-burger">
    <img class="logo" src="../assets/logos/logo_small_shift_and_go.png" alt="logo-small">
    <img class="logo" src="../assets/logos/logo_long_shift_and_go.png" alt="logo-long">
    <img class="logo" src="../assets/logos/logo_shift_and_go.png" alt="logo">

    <nav id="nav-header">
        <div id="btn-close">
            <img src="../assets/icons/close_menu.png" alt="close-menu">
        </div>
        <div class="buscador">
            <input type="search" name="search" placeholder="Search products..." autocomplete="off">
        </div>
        <ul>
            <li><a id="index" href="../index.html">Home</a></li>
            <li>
                <div>
                    <a id="categories" href="#">Categories</a>
                    <img src="../assets/icons/dropdown.svg" alt="dropdown" class="dropdown" data-variant="white">
                    <img src="../assets/icons/arrowup.svg" alt="arrowup" class="arrowup" data-variant="white">
                    <img src="../assets/icons/dropdown-onyx.svg" alt="dropdown" class="dropdown" data-variant="onyx">
                    <img src="../assets/icons/arrowup-onyx.svg" alt="arrowup" class="arrowup" data-variant="onyx">
                </div>
                <ul class="submenu">
                    <li><a href="#">Adidas</a></li>
                    <li><a href="#">Converse</a></li>
                    <li><a href="#">Jordan</a></li>
                    <li><a href="#">New Balance</a></li>
                    <li><a href="#">Nike</a></li>
                    <li><a href="#">Puma</a></li>
                    <li><a href="#">Reebok</a></li>
                    <li><a href="#">Under Armour</a></li>
                </ul>
            </li>
            <li><a id="aboutUs" href="#">About us</a></li>
            <li><a id="settings" href="../backend/index.php">BACKEND - index.php</a></li>
        </ul>
    </nav>
    <div>
        <div class="user">
            <img src="../assets/icons/user.png" alt="user">
            <p>Hello, username</p>
        </div>
        <a href="./shopping_cart.html"><img src="../assets/icons/shopping_cart_black.png" alt="shopping-cart"></a>
    </div>
  </header>

  <main>
    <form action="#">
      <!--Subtotal dinámico-->
      <div class="subtotal">
        <p>Subtotal: <span>0.00€</span></p>
        <input type="submit" value="ORDER NOW">
      </div>

      <!--Lista de productos que se genera de manera dinámica-->
      <div class="product-list">
        <!--Con cart.js, añadiremos todos los productos-->
      </div>
    </form>

    <!--Wishlist (todavía estática)-->
    <section class="wishlist">
      <h2>Your wishlist</h2>
      <div class="wishlist-item">
        <img src="../assets/img/shoes/kd-18_1-1.jpg" alt="product-wishlist">
        <div>
          <h3>Nike KD 18</h3>
          <div>
            <h4>169.99€</h4>
            <button><img src="../assets/icons/shopping_cart.png" alt="shopping-cart"></button>
          </div>
        </div>
      </div>
      <div class="wishlist-item">
        <img src="../assets/img/shoes/adidas-ae-2_1-1.jpg" alt="product-wishlist">
        <div>
          <h3>Adidas AE 2</h3>
          <div>
            <h4>129.99€</h4>
            <button><img src="../assets/icons/shopping_cart.png" alt="shopping-cart"></button>
          </div>
        </div>
      </div>
      <div class="wishlist-item">
        <img src="../assets/img/shoes/curry-4_1-1.jpg" alt="product-wishlist">
        <div>
          <h3>UA Curry 4</h3>
          <div>
            <h4>85.00€</h4>
            <button><img src="../assets/icons/shopping_cart.png" alt="shopping-cart"></button>
          </div>
        </div>
      </div>
      <div class="wishlist-item">
        <img src="../assets/img/shoes/nike-zoom-freak-5_1-1.jpg" alt="product-wishlist">
        <div>
          <h3>Nike Zoom Freak 5</h3>
          <div>
            <h4>85.00€</h4>
            <button><img src="../assets/icons/shopping_cart.png" alt="shopping-cart"></button>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <img src="../assets/logos/logo_shift_and_go.png" alt="logo">
    <div>
      <p>©Shift & Go all rights reserved</p>
      <p>Terms & Policy</p>
      <p>Contact</p>
    </div>
    <div>
      <img src="../assets/img/instagram-logo.png" alt="instagram-logo">
      <img src="../assets/img/twitter-logo.png" alt="twitter-logo">
      <img src="../assets/img/facebook-logo.png" alt="facebook-logo">
    </div>
  </footer>

  <div id="message"></div>

  <script src="../js/commons.js"></script>
  <script src="../js/cart.js"></script>
</body>
</html>
